<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="photos.css">
</head>
<body>
	<%- include ../partials/_navbar.ejs %>
	<h1>Photos Show</h1>
	<a href="<%=photo._id%>/edit">Edit photo</a>
	<main>
	<section>
		<h1><%=photo.title%></h1><br/>
		<img src="<%=photo.url%>"><br/>
		<h3><%=photo.description%><br/>
		<h3><%=photo.comments%><br/>
	</section>
	<section>
		<form method="POST" action="/photos/<%=photo._id%>?_method=DELETE">
			<input type="submit" name="" value="Delete Photo">
		</form>
	</section>
	</main>
</body>
</html>