<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>faces</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <header>
    <%- include ../partials/_navbar.ejs %>
      <h1>User list</h1>
    </header>
    <main>
      <h2>Welcome <%=name%></h2>
      <h2>User list</h2>
      <ul>
          <% for(let i = 0; i < users.length; i++){ %>
              <li>
                  <a href="/users/<%=users[i]._id%>"><%=users[i].name%></a>
                  <a href="/users/<%=users[i]._id%>"><%=users[i].about%></a>
                  <form method="POST" action="/users/<%=users[i]._id%>?_method=DELETE">
                <input type="submit" name="_method" value="DELETE"/>
            </form>
              </li>
          <% } %>
      </ul>

    </main>
  </body>
</html>